*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
Thumbs.db
_/images/Thumbs.db
settings.ini
.vscode/settings.json
new_blog/
.kiro/
_ideas/